{% extends 'app/base.html' %} {% load static %} {% block title %}Password reset Complete{% endblock title %} {% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h4>Password reset Complete! </h3>
                <div><iframe src="https://giphy.com/embed/xT0xezQGU5xCDJuCPe" width="480" height="217" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <p>
                        <a href="https://giphy.com/gifs/congratulations-congrats-xT0xezQGU5xCDJuCPe"></a>
                    </p>
                </div>
        </div>
    </div>
</div>
{% endblock main-content %}